body {
  background-color: #0a6589;
}
/* Scroll knapper */
button.buttons {
  position: absolute;
  text-align: center;
  border-radius: 50%;
  border: 2px solid rgb(0, 0, 0);
  background-color: #007ef3;
  background-size: cover;
  padding: 0;
  cursor: pointer;
  font-size: 16px;
  color: transparent;
  animation: pulse 1s infinite;
  left: 50%;
  z-index: 100;
}

#btn1 {
  top: 90%;
  width: 100px;
  height: 100px;
  left: 47.5%;
}

#btn2 {
  top: 210%;
  width: 50px;
  height: 50px;
}

#btn3 {
  top: 310%;
  width: 50px;
  height: 50px;
}

#btn4 {
  top: 350%;
  left: 1200px;
  width: 50px;
  height: 50px;
  transform: rotate(180deg);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

button.buttons img {
  vertical-align: middle;
  position: relative;
  margin-top: -17.5px;
  padding: 5px;
  top: 4px;
  width: 25px;
  height: 25px;
}

.buttons:hover {
  animation: pulse 0s;
  transform: scale(1.1);
  background: #ffc989;
  z-index: 100;
}

button.buttons img:hover {
  animation: arrowPulse 1s infinite;
  z-index: 100;
}

@keyframes arrowPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* overskrift */
h1 {
  position: absolute;
  font-size: 80px;
  left: 20%;
  top: 35%;
  color: #5895b9;
  text-shadow: 4px 4px 8px #000000;
}
@font-face {
  font-family: "Source Code Pro ExtraLight";
  src: url("SourceCodePro-ExtraLight.eot") format("eot");
}

/* flexbox containere til at holde hvert segment */
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 40px;
  width: 100vw;
  height: 100vh;
}

.container2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* textbox ved siden af barchartet */
.txt-box {
  background-color: #0084ff7b;
  border: 5px;
  border-radius: 25px;
  text-align: center;
  padding: 20px;
  margin: 20px;
  color: white;
  height: 200px;
  width: 360px;
  filter: drop-shadow(0 0 0.75rem rgb(0, 69, 133));
  line-height: 1.6;
}

/* billedet af dragefisk */
#fishimage {
  max-height: 400px;
  max-width: 400px;
  filter: drop-shadow(0 0 0.75rem rgb(0, 69, 133));
  border-radius: 10%;
  margin-top: 10px;
}

/* Fordise styling */
#forsidebillede {
  object-fit: fill;
}

#dragefiskvideo {
  box-shadow: 10px 10px 5px 12px lightblue;
}

/* styling til alle knapperne der skal vise data*/
.graphbtn {
  background-color: #ffc989;
  border-radius: 5px;
  border-color: black;
  border-width: 2px;
}

.flex-container2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 2px;
  margin-bottom: 200px;
  width: 100%;
  height: 100%;
}

.map-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.txt-box2 {
  background-color: #0084ff7b;
  border: 5px;
  border-radius: 25px;
  text-align: center;
  padding: 20px;
  margin: 20px;
  color: white;
  height: 50px;
  width: 1000px;
  filter: drop-shadow(0 0 0.75rem rgb(0, 69, 133));
  line-height: 1.6;
}

.txtcenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
